:root {
  --charcoal: #202020;
  --cream: #fffaed;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--charcoal);
  color: var(--cream);
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 250pt;
  margin-top: 75px;
  text-align: center;
}